$mainFont: 'Montserrat';

//  display sizes
$minWidth: 320px;
$smBreak: 375px;
$smMedBreak: 425px;
$smBreak: 575px;

$mdBreak: 768px;
$mdMedBreak: 992px;

$lgMedBreak: 1200px;
$lgLgBreak: 1440px;

//site sizes
$wrapperMaxWidth: 1440px;
$btnsBorderRadius: 5px;

// colors
$firstColor: #ffffff;
$secondColor: #aeb5b999;
$thirdColor: #4c525566;
$fourthColor: #939ca199;
$fifthColor: black;

$microphoneAnimationColor: yellow;
